{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log Entries{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('log.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table table-bordered table-responsive table-sm table-hover">
    <thead class="table-secondary">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Callsign</th>
            <th scope="col">frequency</th>
            <th scope="col">mode</th>
            <th scope="col">power</th>
            <th scope="col">Your Location</th>
            <th scope="col">Their Location</th>
            <th scope="col">Your rst</th>
            <th scope="col">Their rst</th>
            <th scope="col">comments</th>
        </tr>
    </thead>
    {% for contact in contacts %}
    <tbody>
        <tr>
            <td>{{ contact['created'].strftime('%Y-%m-%d') }}</td>
            <td>{{ contact['callsign'] }}</td>
            <td>{{ contact['frequency'] }}</td>
            <td>{{ contact['mode'] }}</td>
            <td>{{ contact['power'] }}</td>
            <td>{{ contact['self_location'] }}</td>
            <td>{{ contact['contact_location'] }}</td>
            <td>{{ contact['self_rst'] }}</td>
            <td>{{ contact['contact_rst'] }}</td>
            <td>{{ contact['comments'] }}</td>
            
            <td>
                <a href="{{ url_for('log.delete', id=contact['id']) }}" method="post">Delete</a>
                <br>
                <a href="{{ url_for('log.update', id=contact['id']) }}">Update</a>

            </td>
        </tr>
    </tbody>
    {% endfor %}    
</table>
{% endblock %}